<div class="chores" *ngIf = "chores.length > finishedChores.length">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p style="color:blue">Work harder!</p>
</div>
<hr>
<div class="doneChores" *ngIf = "chores.length === 0 || finishedChores.length >= chores.length + 3; else needMoreWorkDone">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img src="https://cdn.vectorstock.com/i/1000x1000/59/53/target-vector-2015953.webp" alt="target image">
</div>

<ng-template #needMoreWorkDone>
    <div class="doneChores">
        <p>No allowance yet.</p>
    </div>
</ng-template>
<hr>

<div *ngIf = "chores.length === 0 && finishedChores.length >= 4; else howToEarnTreat">
    <h1>Ice cream treat!</h1>
</div>

<ng-template #howToEarnTreat>
    <div style="color:green">
        <h3>To earn an ice cream treat:</h3>
        <p>The chores list must be empty.</p>
        <p>The Done list must have at least 4 items.</p>
    </div>
</ng-template>